## Print Name and Age?

In [1]:
name =input()
age=input()
print("my name is:",name)
print("age:",age)

 roja
 36

my name is: roja
age: 36

# How to convert string into Integer?

In [2]:
a=int(input())
b=int(input())
c=a+b
print(c)

 565
 965

1530

### Get the out 1-multiply 2-add the variabale and dived by multiple/add

In [3]:
a=int(input())
b=int(input())
c=int(input())
d=a*b*c
e=a+b+c
f=d/e
print(f)

 45
 32
 12

194.1573033707865

In [ ]:
# get input for variable name,score,department ,Get score for 100,divide 100/10

In [5]:
name =input()
score=int(input())
department=input()
print("My name is",name)
print("my score is",score/10)
print("my department is ",department)

 roja
 76
 english

My name is roja
my score is 7.6
my department is  english

## if else,Boolean values,comparison

In [6]:
name="Meghana"
if (name=="Meghana"):
    print("Meghana meets surya")

else:
    print("Meghana weds surya")

Meghana meets surya

In [7]:
name="Died"
if (name=="Meghana"):
    print("Meghana meets surya")

else:
    print("Meghana weds surya")

Meghana weds surya

## get the input variabale mark: if mark>35 print pass else faill

In [8]:
mark=int(input())
if mark>=35:
    print("PASS")

else:("FAIL")

 45

PASS

In [11]:
mark=int(input())
if mark>=35:
    print("PASS")
else:
    print("FAIL")

 10

FAIL

# get the variable income.If income is greater than 7000 scholarship is available.else not eligible for scholarship.

income=int(input())
if income>=7000:
    print("SCHOLARSHIP AVAILABLE")
else:
    print("NOT ELIGIBLE")

In [14]:
income=int(input())
if income>=7000:
    print("SCHOLARSHIP AVAILABLE")
else:
    print("NOT ELIGIBLE")

 4600

NOT ELIGIBLE

# NOTE = % THIS SYMBOL USE TO DIVIDE AND GET THE REMAINDER FROM THE CODING
# Get the input for the number and check wheather its divisible by 3 or 5 or not.If yes print divisible by 3 and 5 ,
# else print the no is not divisible by 3 and 5.

In [15]:
a=int(input())
if a%3==0:
    print("divisible by 3")
else:
    print("not divisible by 3")

 15

divisible by 3

In [16]:
a=int(input())
if a%3==0:
    print("divisible by 3")
else:
    print("not divisible by 3")

 19

not divisible by 3

In [22]:
a=int(input())
if a%3==0 and a%5==0:
    print("divisible by 3 and 5")
else:
    print("not divisible by 3 and 5")

 15

divisible by 3 and 5

In [23]:
a = int(input())
if a%3==0 and a%5==0:
    print("divisible by 3 and 5")
else:
    print("not divisible by 3 and 5")

 12

not divisible by 3 and 5

# get the input for the number and find its odd or even.

In [17]:
a =20
if a%2==0:
    print("EVEN")
else:
    print("ODD")

EVEN

In [19]:
a=int(input())
if a%3==0:
    print("EVEN")
else:
    print("ODD")

 19

ODD

In [24]:
# get the input score for 100,
# if score is <35 poor student,
# if score greater than 35 < than 70 average student
# if score > 70 gud student

In [28]:
a = int(input())
if a<=35:
    print("Poor Student")
if a>35 and a<70:
    print("Average Student")
if a >70:
    print("Good Student")

 67

Average Student

In [29]:
a = int(input())
if a<=35:
    print("Poor Student")
if a>35 and a<70:
    print("Average Student")
if a >70:
    print("Good Student")

 90

Good Student

In [30]:
a = int(input())
if a<=35:
    print("Poor Student")
if a>35 and a<70:
    print("Average Student")
if a >70:
    print("Good Student")

 16

Poor Student

# to make it simple we r using "ELIF" concept

In [31]:
a = int(input())
if a<=35:
    print("Poor Student")
elif a>35 and a<70:
    print("Average Student")
else:
    print("Good Student")

 56

Average Student

In [32]:
a = int(input())
if a<=35:
    print("Poor Student")
elif a>35 and a<70:
    print("Average Student")
else:
    print("Good Student")

 90

Good Student

# get mini calculator:

In [34]:
a = int(input())
b= int(input())
solve = input("add/sub/mul/div")
if solve == "add":
    print(a+b)
elif solve == "sub":
    print(a-b)
elif solve=="mul":
    print(a*b)
elif solve == "div":
    print(a%b)

else:
    print("NONE")

 13
 15
add/sub/mul/div add

28

# get input score percentage. if perc greater than 80get input his name,location,department.then print eligible.
# if not print not eligible

In [36]:
a= int(input())
if a>=80:
    name = input("may name is:")
    location = input("my location:")
    dep =input("my department:")
    print("you are eligible")
else:
    print("not eligible")

 90
may name is: roja
my location: trichy
my department: english

you are eligible

In [37]:
a= int(input())
if a>=80:
    name = input("may name is:")
    location = input("my location:")
    dep =input("my department:")
    print("you are eligible")
else:
    print("not eligible")

 56

not eligible

# if salary greater than 20000 or age less than 25 you are eligible for loan
# if salary less than  500000 u r not eligible

In [38]:
salary =int(input())
age = int(input())
if salary >=20000 and age <=25:
    print("ELIGIBLE")
else:
    print("NOT ELIGIBLE")

 30000
 35

NOT ELIGIBLE

In [39]:
salary =int(input())
age = int(input())
if salary >=20000 or age <=25:
    print("ELIGIBLE")
else:
    print("NOT ELIGIBLE")

 45000
 25

ELIGIBLE

# Q: gET INPUT FOR FIVE SUBJECT MARKS,ADD AND FIND THE AVERAGE,IF AVAERAGE MARK IS LESS THAN 35 ,PRINT" ADDITIONAL CLASS IS REQUIRED
# ELSE "YOU ARE GOOD TO GO

In [1]:
a= int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
f=a+b+c+d+e
print(f)

 67
 86
 98
 45
 67

363

In [3]:
print(f/5)

72.6

In [5]:
if f<35:
    print("Additional class is Required")
else:
    print("YOU R READY TO GO")

YOU R READY TO GO

In [ ]:
# q:HACKER RANK

# For Loop Explanation
# i is a variable ,it brings and print the details

In [1]:
for i in "apple":
    print(i)

a
p
p
l
e

In [ ]:
# print 3 table using for loop

In [2]:
for i in range(1,11):
    print(i,"x2=",1*3)

1 x2= 3
2 x2= 3
3 x2= 3
4 x2= 3
5 x2= 3
6 x2= 3
7 x2= 3
8 x2= 3
9 x2= 3
10 x2= 3

In [3]:
for i in range(1,21):
    print(i,"x4=",i*4)

1 x4= 4
2 x4= 8
3 x4= 12
4 x4= 16
5 x4= 20
6 x4= 24
7 x4= 28
8 x4= 32
9 x4= 36
10 x4= 40
11 x4= 44
12 x4= 48
13 x4= 52
14 x4= 56
15 x4= 60
16 x4= 64
17 x4= 68
18 x4= 72
19 x4= 76
20 x4= 80

In [4]:
for i in range(1,21):
    print(i,"x9=",i*9)

1 x9= 9
2 x9= 18
3 x9= 27
4 x9= 36
5 x9= 45
6 x9= 54
7 x9= 63
8 x9= 72
9 x9= 81
10 x9= 90
11 x9= 99
12 x9= 108
13 x9= 117
14 x9= 126
15 x9= 135
16 x9= 144
17 x9= 153
18 x9= 162
19 x9= 171
20 x9= 180

In [ ]:
# q: Get the input for the number a and b
# print the number between a and b

In [10]:
a=int(input())
b=int(input())
for i in range(a+1,b):
    print(i)

 8
 15

9
10
11
12
13
14

In [11]:
a=int(input())
b=int(input())
for i in range(a+2,b):
    print(i)

 2
 20

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# Print Even and odd number using for loop and if

In [13]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [14]:
for i in range(11,20):
    if i%3==0:
        print(i)

12
15
18

# count the numbers of even number between 1,10

In [16]:
count=0
for i in range(1,10):
    if i%2==0:
        count=count+1
print(count)

4

# count the numbers of odd and even number between 1,10

In [25]:
E_count=0
O_count=0
for i in range(1,11):
    if i%2==0:
        E_count=E_count+1
    else:
        O_count=O_count+1
print(E_count)
print(O_count)

5
5

#Q:Count the number which are divisible by 3 and in the range of 1,100

In [26]:
count=0
for i in range(1,100):
    if i%3==0 and i%5==0:
        count=count+1
print(count)

6

# Understanding for loo with list

In [ ]:
# Q: WRITE THE PROGRAM TO COMPUTE THE SUM OF FIRST 5 NATURAL NUMBERS

In [27]:
sum=0
for i in range(1,6):
    sum=sum+i
print(sum)

15

In [30]:
sum=0
for i in range(13,20):
    sum=sum+i
print(sum)

112

In [31]:
sum=0
for i in range(41,60):
    sum=sum+i
print(sum)

950

In [ ]:
# Q: Write a program to read 10 numbers from the keyboard and their sum and average
# Using list

In [34]:
a=[]
a.append(10)
for i in a:
    
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
a=[]
for i in range (10):
    a.append(i)
print(a)   

sum=0
for i in a:
    sum=sum+i
print(sum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [ ]:
# Another Method

In [51]:
a=[]
for i in range(10):
    num=int(input("NUM"+str(i+1)))
    a.append(num)

print(a)

NUM1 1
NUM2 2
NUM3 3
NUM4 4
NUM5 5
NUM6 5
NUM7 5
NUM8 6
NUM9 7
NUM10 7

[1, 2, 3, 4, 5, 5, 5, 6, 7, 7]

In [ ]:
# Q: write a program to display n terms of naturan numbers and their sum .TEST DATA :7 (1,2,3,4,5,6,7)

In [60]:
a=[]
for i in range(8):
    a.append(i)

print(a)

sum=0
for i in a:
    sum=sum+i

print(sum)

[0, 1, 2, 3, 4, 5, 6, 7]
28

In [ ]:
# Q: Write a program to display a cube of number upto an integer
# input =5

In [64]:
a=[]
for i in range(1,6):
    a.append(i)

print(a)
for i in a:
    print(i*3)

[1, 2, 3, 4, 5]
3
6
9
12
15

# Nested For LOOP

In [68]:
for i in range(1,6):
    for j in range(1,3):
        print(j,"apple")

1 apple
2 apple
1 apple
2 apple
1 apple
2 apple
1 apple
2 apple
1 apple
2 apple

In [76]:
for i in range(1,3):
    print("Week",i)
    for j in range(1,4):
        print("Day",j)

Week 1
Day 1
Day 2
Day 3
Week 2
Day 1
Day 2
Day 3

In [ ]:
# Q: *,**,***,**** .How to print these stars pattern in order:

In [79]:
for i in range(5):
    print("*")

*
*
*
*
*

In [80]:
for i in range(5):
    print("*",end=",")

*,*,*,*,*,

In [81]:
for i in range(5):
    print("*",end="/")

*/*/*/*/*/

In [84]:
for i in range(5):
    print()
    for j in range(1,i+1):
        print(j,end="")

1
12
123
1234

In [99]:
for i in range(5):
    print("*")
    for j in range(1,i):
        print("*",end="")

*
*
*
**
***
***

In [3]:
for i in range(5):
    print()
    for j in range(1,i+1):
        print(j,end="")

1
12
123
1234

In [ ]:
# For loop is usually used when the number of iteration is known.

In [ ]:
# While Loop is usually used when the number of iteration is unknown

In [ ]:
# 1. Print the number from 1 to 5 using while loop
# 2.Write a loop statement to print the following series 10,20,30,40,50........200.
# 3.Write a program to print the first 10 natural numbers in reverse order.
# 4.Write a program to find the factorial of a number.

In [7]:
i =0
while i==0:
    print(i)
    i=i+1

0

In [9]:
i=5
while i==0:
    print(i)
    i=i+1

In [ ]:
# Q1 :Print the number from 1 to 5 using while loop

In [11]:
i=1
while i<5:
    print(i)
    i=i+1

1
2
3
4

In [13]:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [14]:
# Same Programme we can also use the for loop
i=1
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
i=1
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 2.Write a loop statement to print the following series 10,20,30,40,50........200.

In [17]:
i=10
while i<=200:
    print(i,end=",")
    i=i+10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,

In [18]:
i=2
while i<=200:
    print(i,end=",")
    i=i+2

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [19]:
i=2
for i in range(200):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,

In [ ]:
# # 3.Write a program to print the first 10 natural numbers in reverse order.

In [24]:
i=10
while i>0:
    print(i,end=",")
    i=i-1

10,9,8,7,6,5,4,3,2,1,

In [ ]:
# 4.Write a program to find the factorial of a number.

In [25]:
i=2
fact=1
while i>0:
    fact=fact*i
    i=i-1

print(fact)

2

In [27]:
i=3
fact=1
while i>0:
    fact=fact*i
    i=i-1

print(fact)

6

In [28]:
i=5
fact=1
while i>0:
    fact=fact*i
    i=i-1

print(fact)

120

In [ ]:
## Python Collections(Arrays)
# List = [] within square bracket is called list.
# list allows duplicates,changeable,any type of data can be stored,
# insert(),append(),extend(),pop()

In [29]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [35]:
a=[1,2,3,4,5]
a.append(True)
a.append(70)
print(a)

[1, 2, 3, 4, 5, True, 70]

In [37]:
a=[1,2,3,4,5,6,7,8,9]
print(a[1]) # this help us to find the positin of the numbers

2

In [40]:
a=[1,2,3,4,5,6,7,8,9]
a.insert(0,11) # this help us to add the number wherever we want.
print(a)

[11, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
a=[1,2,3,4,5,6,7,8,9]
a.insert(2,True)
print(a)

[1, 2, True, 3, 4, 5, 6, 7, 8, 9]

In [44]:
a=[1,2,3,4,5,6,7,8,9]
a.pop(6) # this will help us to remove the element
print(a)

[1, 2, 3, 4, 5, 6, 8, 9]

In [46]:
a=[12,14,16,18,20]
b=[11,13,15,17,19]
a.extend(b) # this help us to merge the data
print(a)

[12, 14, 16, 18, 20, 11, 13, 15, 17, 19]

In [ ]:
# Tuple
# duplicates allowd,any data type can be stored
# but we cant add or remove,not changeable

In [51]:
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [52]:
a=(1,2,3,4,5)
a.pop()
print(a)

AttributeError: 'tuple' object has no attribute 'pop'

In [53]:
a=(1,2,3,4,5)
a.append(6)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
a=(10,20,30,40)
b=list(a) # we can change into list and we can do the modification

print(b)

[10, 20, 30, 40]

In [ ]:
# set{}
# dont allowed duplicates,any type of data can be stored
# we cant modify but we can add or remove

In [55]:
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [56]:
a.add(10)
print(a)

{1, 2, 3, 4, 5, 10}

In [58]:
a={1,2,3,4,4,5,7,7,6,8}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# dictionary{}

In [61]:
a={
    "name":"roja",
    "age":"35",
    "Location":"Trichy"
}
print(a)

# its also called as key value pairs

{'name': 'roja', 'age': '35', 'Location': 'Trichy'}

In [65]:
a={
    "name":"roja",
    "age":"35",
    "Location":"Trichy"
}

print(a.keys())

dict_keys(['name', 'age', 'Location'])

In [68]:
a["name"]="belina"
print(a)

{'name': 'belina', 'age': '35', 'Location': 'Trichy'}

In [70]:
a.pop("age")
print(a)

KeyError: 'age'

In [ ]:
# Functions of Python

In [72]:
def painter():
    print("painting")

painter()

painting

In [ ]:
# Q:Create function called add(),sub(),mul(),div()
# Get the input for a and b and insert every function then print the result

In [77]:
def Add():
    a=int(input())
    b=int(input())
    print(a+b)

Add()

def sub():
    a=int(input())
    b=int(input())
    print(a-b)

sub()

def mul():
    a=int(input())
    b=int(input())
    print(a*b)
mul()

def div():
    a=int(input())
    b=int(input())
    print(a/b)
div()

 12
 12

24

 12
 12

0

 12
 12

144

 12
 12

1.0

In [81]:
def teacher(msg):
    print("message:",msg)

teacher("I have a doubt")

message: I have a doubt

In [ ]:
# Q: Get a integer number from user and pass it to the function called find even or odd().let the function print the even or odd.

In [84]:
 a=int(input())
def findevenorodd():
    if a%2==0:
        print("EVEN")

    else:
        print("ODD")

findevenorodd()

 24

EVEN

In [85]:
 a=int(input())
def findevenorodd():
    if a%2==0:
        print("EVEN")

    else:
        print("ODD")

findevenorodd()

 15

ODD

In [ ]:
# Q: Get a integer number from user and pass it to the function called find pass or fail().let the function print the even or odd.

In [87]:
a=int(input())
def findpassorfail():
    if a>=35:
        print("PASS")
    else:
        print("FAIL")
findpassorfail()

 12

FAIL

In [ ]:
# Q:get the input for a and b and pass it to the function called printrange(),let the function print the number from a to b

In [89]:
a=int(input())
b=int(input())
def printrange():
    for a in range(1,5):
        print(a)
    else:
        print(b)

printrange()

 1
 5

1
2
3
4
5

In [ ]:
# Q:Set s_username="EMC" s_password="123".
# get input for username and password . create the function called validate.
# if user name and password matches then return true else false.

In [2]:
s_username="EMC"
s_password="123"

usename=input()
password=input()

def validate():
    if s_username==0 and s_password==0:
        print("TRUE")
    else:
        print("FALSE")
validate()

 EMC
 123

FALSE

In [4]:
s_username="EMC"
s_password="123"

usename=input()
password=input()

def validate():
    if s_username==usename and s_password==password:
        print("TRUE")
    else:
        print("FALSE")
validate()

 EMC
 123

TRUE

In [ ]:
#Q: (a+b)*c Get the input for a and b and call the function called add() which should return the sum of a and b.

In [9]:
a=int(input())
b=int(input())
c=int(input())

def add():
    sum=(a+b)*c
    print(sum)

add()

 12
 13
 2

50

In [10]:
a=int(input())
b=int(input())
c=int(input())

def add():
    sum=(a+b)*c
    print(sum)

add()

 23
 35
 10

580

In [ ]:
# Classes and objects

In [ ]:
# Q: Create a class called laptop and variables and functions:
# Q variables: Price,Processor,Ram
# Q: Object : HP ,DELL,LENOVA

In [12]:
class laptop:
    Price=0
    Proc=""
    Ram=""

hp=laptop()
dell=laptop()
lenova=laptop()

hp.Price=10
hp.Proc="i6"
hp.Ram = "6GB"

dell.Price=90
dell.Proc="i9"
dell.Ram="8GB"

print(hp.Price)

10

In [17]:
class student:
    def __init__(self):
        self.name="roja"
        self.registerno="123"
    def display(self):
        print("name",self.name)
        print("registerno",self.registerno)

s1=student()
print(s1.name)
print(s1.registerno)
s1.display()

roja
123
name roja
registerno 123

In [20]:
class fruit:
    def __init__(self):
        self.color="black"

apple=fruit()
print(apple.color)

black

In [ ]:
# Class and Variables Example

In [10]:
class phone:
    def __init__(self,brand,price,ram):
        self.brand=brand
        self.price=price
        self.ram=ram
    def display(self):
       print("brand",self.brand)
       print("price",self.price)
       print("ram",self.ram)

samsung=phone("samsung","10000","8gb")
samsung.display()

brand samsung
price 10000
ram 8gb

In [ ]:
### Super keyword Features

In [6]:
class shape():
    def area():
        return 0
class rectangle(shape):
    def area(self):
        l=20
        b=30
    
s1=shape
s1.area()

r1=rectangle
r1.rectangle()

AttributeError: type object 'rectangle' has no attribute 'rectangle'

In [12]:
class employee():
    def __init__(self,name,salary):
        super.__init__(self)
        self.name="name"
        self.salary="salary"
class manager(employee):
    def __init__(self,dep):
        self.dep="department"
    def display(self):
        print(self.name,self.salary,self.dep)

m1=manager("Data Scientist")
m1.display()

AttributeError: 'manager' object has no attribute 'name'

In [17]:
x,y,z,n = [int(input()) for _ in range(4)]
for x in range(x + 1):
    for y in range(y + 1):
        for z in range(z + 1):
            if x + y + z != n:
                print([x,y,z,])

 1
 1
 2
 3

[0, 0, 0]
[0, 0, 1]
[0, 0, 2]
[0, 1, 0]
[0, 1, 1]
[1, 0, 0]
[1, 0, 1]
[1, 1, 0]
[1, 1, 2]

In [36]:
[x, y, z, n] = [int(input()) for _ in range(4)]
for x in range(x + 1):
    for y in range(y + 1):
        for z in range(z + 1):
            if x + y + z != n:
                result = [x, y, z]
                print(result, end=' ')

 1
 1
 2
 3

[0, 0, 0] [0, 0, 1] [0, 0, 2] [0, 1, 0] [0, 1, 1] [1, 0, 0] [1, 0, 1] [1, 1, 0] [1, 1, 2]

In [47]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

for _ in range(1):
    for x in range(x + 1):
        for y in range(y + 1):
            for z in range(z + 1):
                if x + y + z != n:
                    print([x, y, z], end=' ')

SyntaxError: invalid syntax (1181223350.py, line 6)

In [58]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

result = [[i,j,k] for _ in range(1) for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if x + y + z != n]
print(result)

 1
 1
 2
 3

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]]

In [86]:
n = int(input())
arr = map(int, input().split())
arr2 = [10,7,8]
arr2.sort()
print(arr2[-2])

 8
 6

8

In [90]:
n = int(input())
arr = list(map(int, input().split()))  # Convert map object to list
arr2 = list([10])

if len(arr2) < 10:
    print("Error: Not enough unique elements in the list.")
else:
    arr2.sort()
    print(arr2[8])

 9
 2

Error: Not enough unique elements in the list.

In [96]:
students = []
n = int(input("Enter the number of students: "))
for _ in range(n):
    name = input("Enter student name: ")
    grade = float(input("Enter student grade: "))
    students.append([name, grade])

students.sort(key=lambda x: x[1])
second_lowest_grade = None
for i in range(1, n):
    if students[i][1] > students[0][1]:
        lowest_grade = students[i][1]
        break

# Create a list of student names with the second lowest grade
lowest_students = [name for name, grade in students if grade == lowest_grade]
lowest_students.sort()  # Sort names alphabetically

# Print the names of students with the second lowest grade
for student_name in lowest_students:
    print(student_name,grade)

Enter the number of students:  4
Enter student name:  afra
Enter student grade:  2
Enter student name:  janani
Enter student grade:  3
Enter student name:  semmozhi
Enter student grade:  1
Enter student name:  netraa
Enter student grade:  4

afra 4.0

In [ ]:
students=[]
n = int(input())
for _ in range(int(input(n))):
    
    name = input()
    score = float(input())
    students.append([name, score])
students.sort(key=lambda x: x[1])
lowest_score=None

for i in range(1, n):
    if students[i][1] > students[0][1]:
        lowest_score = students[i][1]
    break
    
    lowest_students = [name for name, score in students if score == lowest_score]
lowest_students.sort()

for student_name in lowest_students:
    print(student_name, score)